@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,200&display=swap');
:root{
    --fondo:#97dff5;
    --letra:#002a42;
}
footer{
    display: grid;
    grid-template-areas: 'titulo titulo'
                         'copy list';
    background-color: var(--fondo);
    margin-top: 100px;
    margin-bottom: 0;
    padding: 10px;
}
footer{
    display: grid;
    grid-template-areas: 'titulo titulo'
                         'copy list';
}       
footer h1{
    grid-area: titulo;
    font-size: medium;
    text-align: center;
}
footer p{
    grid-area: copy;
}
footer ul{
    grid-area: list;
    text-align: right;
    padding: 0;
}
footer ul li{
    list-style: none;
    padding: 0;
}
footer ul a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--letra);
}
footer ul a:hover{
    border-bottom: 1px solid white;
    color: white;
    transition: .2s;
}
footer h1 a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--letra);
}